body{
    background-color: hsl(30, 54%, 90%);
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card{
    max-width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 70%;
    text-align: left;
    margin-top: 10px;
    padding: 16px;
    transition: 0.2s ease-in-out;
}
img{
    width: 100%;
    border-radius: 10px;

}

.pre{
    border: 10px solid hsla(332, 100%, 50%, 0);
    background-color: hsla(332, 100%, 50%, 0.289);
    border-radius: 10px;

}

h2{
    color: hsl(14, 45%, 36%);
}

.attribution{
    margin-top: 40px;
}